<ion-view title="Chords" class="bar-positive">
  <ion-content class="has-header">
    <div class="albums">
      <ion-item ng-repeat="album in albums" ui-sref="app.chord({ id: album.id })">
       	<div class="row">
       		<div class="col-25">
       			<div style="padding-right: 10px;box-sizing: border-box;">
       				<img style="width: 100%;" ng-src="./img/{{ album.cover }}" alt="">
       			</div>
       		</div>
       		<div class="col-75">
       			<h3>{{ album.title }}</h3>
       			<p><i>{{ album.pubyear }}</i></p>
       		</div>
       	</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>