<ion-view title="Whynotme" class="bar-positive">
  <ion-content class="has-header">
    <ion-slide-box>
			<ion-slide>
				<img ng-src="img/slide0.jpg" alt="" />
			</ion-slide>
			<ion-slide>
				<img ng-src="img/slide1.jpg" alt="" />
			</ion-slide>
			<ion-slide>
				<img ng-src="img/slide2.jpg" alt="" />
			</ion-slide>
			<ion-slide>
				<img ng-src="img/slide3.jpg" alt="" />
			</ion-slide>
			<ion-slide>
				<img ng-src="img/slide4.jpg" alt="" />
			</ion-slide>
		</ion-slide-box>
  </ion-content>
</ion-view>